<h2>Make a new Creature:</h2>

<form method="POST" action="/prehistoric_creatures">
    <label for="creatureImg">Image Url:</label>
    <input id="creatureImg" type="text" name="img_url" />

    <label for="creatureType">Type:</label>
    <input id="creatureType" type="text" name="type" />

    <button type="submit">create creature</button>
</form>